@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sarabun:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

html:lang(th) body {
    font-family: 'Sarabun', sans-serif;
}

.my-speech {
  @apply text-right ml-16
}

.short-description {
  @apply italic text-gray-700 text-lg text-center my-3
}

.body-bg-dark {
  background-color: rgba(22, 31, 34, 1);
}


.aurora-text {
  font-weight: 800;
  line-height: 1.1;
  text-transform: lowercase;

  color: transparent;

  background:
    radial-gradient(circle at 20% 30%, #7fffd4, transparent 45%),
    radial-gradient(circle at 80% 25%, #e876ff, transparent 50%),
    radial-gradient(circle at 50% 80%, #00ffff, transparent 45%);

  background-size: 200% 200%;
  animation: aurora-flow 10s linear infinite;

  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes aurora-flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
